.container {
    max-width: 450px;
    margin: 0 auto;
}

.title{
    justify-content: center;
    display: flex ;

}


.paragraph{
    justify-content: center;
    margin: 3% 20%  ;
    display: flex ;
    height: 40px;
    width: 600px;

}

.button {
   background-color: antiquewhite;
    margin: 3% 35%  ;
    display: flex ;
    justify-content: center;
    text-align: center;
    padding: 10px 30px ;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
  }
